.logo{
  width: 200px;
  height: 130px;
  object-fit:cover;
}

.page{
  display: inline;
  color: #5C5858;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: white;
  background-color: white;
  padding: 5px;
}

p{
  display: inline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5C5858;
}

.page:hover{ 
  border: 2px solid #5C5858;
}

.option{
  display: inline;
  font-size: 13px;
  color: #5C5858;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1{
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: #5C5858;
  text-align: center;
}

.bottomStrip{
  padding: 30px;
  background: #CAFFBF;
  text-align: center
}

nav{
  margin-left: 56px;
  margin-right: 20px;
}


.horizontal{
  text-align: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

button{
  border-color:#5c5858;
  background-color:white;
  font-family:Courier, MS Courier New;
  font-size:15px; 
 border:2px solid;
   cursor: pointer;
}

article{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}